/*Style global*/
body {
    font-family: 'Sora', sans-serif;
    background-color: #e4c3ad;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/*Style du logo principal*/
main {
    text-align: center;
    margin-top: 147px;
    margin-bottom: 0;
}

.Logo {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    ;
}

h1 {
    font-size: 9.15vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    color: #0d1f2d;
}

h3 {
    font-size: 1em;
    margin-top: 0;
    margin-left: 6%;
    margin-right: 6%;
    color: #546a7b;
}

/* Style de la navigation en bas */
a {
    text-decoration: none;
}

ul.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    margin: 0;
    background-color: #546a7b;
    height: 75px;
    border-top: #0d1f2d 3.5px solid;
}

.navigation li {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation img {
    height: 40px;
    width: auto;
    transition: transform 0.3s;
}

.navigation img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navigation .play img {
    height: 96px;
}

.navigation .play {
    transform: translateY(-40px);
}

.play {
    width: 96px;
    height: 96px;
    margin-top: 0;
    margin-bottom: 0;
}